<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
<!--         <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property> -->
        <property name="hibernate.connection.datasource">java:comp/env/jdbc/giftshop</property>
<!--         <property name="hibernate.connection.password">sun123</property> -->
<!--         <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/giftshop</property> -->
<!--         <property name="hibernate.connection.username">root</property> -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.show_sql">true</property>
        <mapping class="com.proj1.model.OrderDetails" />
        <mapping class="com.proj1.model.Item" />
        <mapping class="com.proj1.model.Category" />
        <mapping class="com.proj1.model.DeliveryDetails" />
        <mapping class="com.proj1.model.Address" />
        <mapping class="com.proj1.model.User" />
        <mapping class="com.proj1.model.Message" />
        <mapping class="com.proj1.model.DeliveryTypes" />
    </session-factory>
</hibernate-configuration>
